/*
* @description: 世界杯移动专题页面样式
* @author: wei long
* @update: wei long (2014-06-20 20:34)
*/

/* module: reset*/
body, p, input, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, form {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
    font-weight: normal;
}
html {
    overflow-y: scroll;
}
body{
    line-height: 150%;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font-family: Helvetica,"Microsoft YaHei";
    background: rgba(240 ,240 ,240 ,1);
    font-size: 14px;/*ps 24pt*/
}
/* 通用样式 */
.bhcc {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.bvcs {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: start;
}

/* module: worldcup 定义世界杯专题页的通用组件 */
.worldcup {
    padding: 0 .5em;
}
    /* 按钮 */
    .worldcup-btn {
        display: inline-block;
        overflow: visible;
        margin: 0;
        border: none;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        padding: .5em 1.25em;
        text-transform: none;
        text-align: center;
        color: white;
        font-size: 1em;
        background: rgba(0,146,63,1);
    }
    .worldcup-btn--gray {
        color: rgb(118 ,118 ,118);
        -webkit-box-sizing: border-box;
        border: solid 1px rgb(203 ,203 ,203);
        background: rgb(242 ,242 ,242);
    }
    .worldcup-btn--green {
        background: rgb(90 ,198 ,92);
    }
    /* 二级标题 */
    .worldcup-h2 {
        font-weight: normal;
        color: rgba(0,146,63,1);
        font-size: 1.25em;
        margin: 0;
    }
    .worldcup-h2:before {
        content: "";
        display: inline-block;
        margin-left: -.5em;
        width: 3.5em;
        height: 3em;
        background: url(football.png) no-repeat center center;
        background-size: 3.5em auto;
        -webkit-background-size: 3.5em auto;
        vertical-align: -1em;
    }
    .worldcup-section {
        margin: .5em 0;
    }
    .worldcup-link {
        color: rgb(40 ,139 ,225);
        text-shadow: 2px 0 2px white;
    }
    .worldcup-box {
        padding: 1em;
        background: white;
        box-sizing: border-box;
        border: 1px black;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

/* module: banner*/
.banner {
    margin: 0 -.5em;
}

/* module: user*/
.user {
}
    .user-h2 {
    }
    .user-row {
        display: -webkit-box;
        margin: 0 1em .8em 1em;
    }
    .user-winnings {
        display: -webkit-box;
        -webkit-box-flex: 1;
        -webkit-box-align: center;
        font-size: 1.08em;
        color: rgb(0 ,146 ,63);
    }
    .user-guess {
    }

/* module: lottory */
.lottory {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
}
    .lottory-btn {
        display: block;
        margin: .5em 0;
        padding: .5em 1em;
        font-size: 1.33em;
    }
    .lottory-tip {
        text-align: center;
        color: rgb(255, 121, 10);
        font-size: .89em;
    }

/* module: appList*/
.appList {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
}
    .appList-list {
        width: 100%;
    }
    .appList-changeApp {
        margin: 1em 0;
    }
    .appList-tips {
        color: rgb(85 ,85 ,85);
    }

/* module: app*/
.app {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: start;
    margin: 0 0 1em 0;
}
    .app-icon {
        margin: 0 .5em 0 0;
        -webkkit-border-radius: .1em;
                 border-radius: .1em;
        overflow: hidden;
    }
    .app-column {
        -webkit-box-flex: 1;
    }
    .app-row {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-align: center;
    }
    .app-name {
        -webkit-box-flex: 1;
        color: rgb(51 ,51 ,51);
    }
    .app-slogan {
        color: rgb(167 ,167 ,167);
    }

/* module inspire */
.inspire {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
}
    .inspire-h2 {
        width: 100%;
    }
    .inspire-text {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 1em 0;
        padding: 0 1em;
        width: 100%;
        color: rgb(51 ,51 ,51);
    }

/*module rule*/
.rule {
    padding: 1em;
    color: rgb(85 ,85 ,85);
}
    .rule-clauses {
        counter-reset: counter;
    }
    .rule-clause {
        line-height: 1.5em;
    }
    .rule-clause:before {
        content: counter(counter) '.';
        counter-increment: counter;
        margin: .25em 0;
    }
